html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

/**regles applicables partout**/

body {
  background-image: url(img/6320.jpg);
  background-position: center;
  background-size: 88%
}

main {
  display: flex;
  flex-wrap: wrap;
}

@font-face {
  font-family: 'amatic_scregular';
  src: url('font/amatic/amaticsc-regular-webfont.eot');
  src: url('font/amatic/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/amatic/amaticsc-regular-webfont.woff2') format('woff2'), url('font/amatic/amaticsc-regular-webfont.woff') format('woff'), url('font/amatic/amaticsc-regular-webfont.ttf') format('truetype'), url('font/amatic/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gooddogregular';
  src: url('font/dog/gooddog-webfont.eot');
  src: url('font/dog/gooddog-webfont.eot?#iefix') format('embedded-opentype'), url('font/dog/gooddog-webfont.woff2') format('woff2'), url('font/dog/gooddog-webfont.woff') format('woff'), url('font/dog/gooddog-webfont.ttf') format('truetype'), url('font/dog/gooddog-webfont.svg#gooddogregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  font-family: 'amatic_scregular';
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  font-family: 'gooddogregular';
  color: white;
}

ul {
  font-family: 'amatic_scregular';
  font-size: 24px;
}

.encadre {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 4px 4px;
}

.espace {
  margin: 20px;
}

/**structure**/

/*droite*/

#section_left {
  width: 30%;
}

.cadre_left_one {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  margin: 6% 0 10% 10%;
  text-align: center;
  border-radius: 10px;
  padding: 5% 0 5% 0;
}

/*img sous le titre*/

#email {
  width: 10%;
}

#tel {
  width: 10%;
}

#linkedin {
  width: 10%;
}

.cadre_left_two {
  background-color: #000000;
  moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 10px;
  color: #fff;
  margin: 0 0 8% 8%;
  text-align: center;
  padding: 10px 0;
}

/*centre*/

#section_center {
  width: 44%;
  margin: 55px;
}

.cadre_center_top {
  text-align: center;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  color: #fff;
  background-blend-mode: multiply;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 46px;
}

.bac {
  font-weight: bold;
}

.cadre_center_bottom {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  text-align: center;
  border-radius: 10px;
  padding-bottom: 6px;
}

.img {
  width: 10%;
}

#imgcss {
  width: 7%;
}

.espace2 {
  margin-bottom: 20px;
}

/*gauche*/

#section_right {
  width: 14%;
  align-self: center;
  margin-right: 10px;
}

.cadre_right {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  border-radius: 10px;
	text-align: center;
	padding: 3px 0 6px 0;
}

/*responsive*/

@media screen and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #section_center {
    width: 80%;
    margin: auto;
  }
  #section_left {
    width: 92%;
    margin-bottom: 10px;
  }
  #section_right {
    width: 48%;
    margin-top: 45px;
  }
  .cadre_left_one {
    margin: 6% 0 10% 8%;
  }
}
